.picada__clasica{
    height: 900px;
    margin-top: 10px;
}


.desayuno__fit{
    height: 740px;
}

.clasica{
    color: black;
    margin: 3px;
    text-align: left;
}

.clasica__h3{
    margin: 0;
}