.desayuno__clasico{
    height: 740px;
    margin-top: 10px;
}

.clasico{
    color: black;
    margin: 3px;
    text-align: left;
}

.clasico__h3{
    margin: 0;
}

.desayuno__h1{
    padding-top: 5px;
    padding-bottom: 5px;
}