.desayuno__liviano{
    height: 820px;
}

.liviano{
    color: black;
    margin: 3px;
    text-align: left;
}

.desayuno__h1{
    padding-top: 5px;
    padding-bottom: 5px;
}

.liviano__h3{
    margin: 3px;
}